.pageup {
  display: none;
  position: fixed;
  bottom: 130px;
  right: 40px;
  max-width: 40px;
  max-height: 40px;
  
  opacity: 50%;
  img {
      width: 100%;
  }
}
//needs to be uncommented when pagedown is ready.
// .pagedown {
//   //display: none;
//   position: fixed;
//   bottom: 90px;
//   right: 40px;
//   max-width: 40px;
//   max-height: 40px;
//   fill: $main-color;
  
//   opacity: 50%;
//   img {
//       width: 100%;
//   }
// }