.title {
    font-weight: bold; 
    color: #2d2a26;
    font-size: 36px; 
    
    &__fs14 {
        font-size: 14px;
        line-height: 21px;
    }

    &__fs16 {            
        font-size: 16px;
        line-height: 24px;
    }
    &__fs20 {            
        font-size: 20px;
        line-height: 30px;              
    }
    &__fs36 {            
        font-size: 36px;  
        line-height: 45px;   
        font-weight: normal;          
    }

    &__fs48 {
        font-size: 48px;                
    }
    &__section-title {
        position: relative;
        text-align: center;
        padding: 2px 0 0 13px;
        @include skills_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__section-subtitle {
        text-align: center;
    }  
}

.frame {
    opacity:75%;
    background-color: #ece6de;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
    border-radius: 3px;
    padding: 5px;
    text-align: center;        
}