.footer{
    hr {
        background-color: $firstmenuback;  
    }
    &__social {//стили для блока значков соцсетей
        width: 299px; //ширина
        display: flex; // "резиновое" отображение
        // flex-direction: column;// можем задать выравнивание значков соцсетей в ряд
        //justify-content: space-between;
        margin-left: 100px;
        
    }
        &__social_item { //стилизуем каждую из иконок
            display: flex;
            justify-content: center; //выровняем содержимое
            align-items: center;
            margin: 0 4px; // зададим внешние отступы
            // width: 45px; //зададим ширину
            // height: 45px; // укажем высоту
            background-color: $firstmenuback; 	// background-color: #0088cc;
            border-radius: 100%; //скруглим
            text-decoration: none; //уберём подчеркивание у ссылок
                i {
                    color: $firstmenutext;// текст элементов шрифта;	
                    font-size: 43px;			
                }
                i:hover {
                    color: $firstmenuback;
                    background-color: $firstmenutext;
                    border-radius: 100%; //скруглим
    
                }		
    }
    
    &__links {
       // width: 390px;
        display: flex;
        justify-content: flex-end;
        //justify-content: center;
       // margin-top: 10px;
        margin-right: 70px;
        list-style-type: none;       
        align-items: right;
        margin-bottom: 0;
        padding-left: 190px;
    }
    &__link {
        // display: flex;
        // justify-content: space-between;
        width: 28%;
        height: 70px;
        border: 2px solid $firstmenuback;
        //color: #6b6b6b;
        color: $firstmenutext;
        background-color: $firstmenuback;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        padding: 10px;        
        transform: skewX(-17deg);
        transition: 0.5s all;
            &:hover {
                box-shadow: 3px 3px 20px $firstmenuback;
                border: none;
                
            }

            div {
                transform: skewX(17deg);
            }
            a {
                text-decoration: none; //уберём подчеркивание у ссылок
                text-transform:lowercase;
                font-size: 12px;
                color: $firstmenutext;
            }
    
            // &_active {
            //     color: $firstmenutext;
            //     background-color: $firstmenuback;
            //     border: none;
            // }
        }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 32px;	
        text-decoration: none; //уберём подчеркивание у ссылок
    }
    
    &__wrapper > div {
        width: 50%; }
        .footer_wrapper > div:nth-child(2) {
            display: flex;
            justify-content: flex-end; }

    &__lastline {
        display: block;
        //position: relative;
        padding: 20px;
        padding-right: 100px;
        text-align: right;
        font-size: 11px;
        font-weight: 300;
    }
}