
// зададим общие настройки
body {
    font-family: 'Roboto', sans-serif; //укажем основные шрифты
    background-color: $back; // зададим цвет фона
    color: $text; //укажем основной цвет текста
    position: absolute;
    }
.experience {
	display: block;
	margin-top: 70px;
	}	
.skills {
	display: block;
	margin-top: 70px;
	}	
	
.university {
	font: weight 400;
}
// .portrait {
// 	width: 50px;
// 	height: 30px;
// 	background-size: contain;
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	background-image: url('img/photo_main.jpg');
// }
li {
	list-style-type: none;
}
.coursename {	
	font-weight: 400;
	margin-left: 25px;
}

.education {
	margin-top: 70px;
	margin-bottom: 20px;
}
.university {
	margin: 20px 0 20px 20px;
}
.brand {
	margin: 10px;
}
// .footer_divider {
// 	width: 299px;
// 	height: 4px;
// 	background-color: #1fbad6;
// 	margin: 0 auto;
// }
.small_icon {
	height: 25px;
	width: 20px;
}